body {
    font-family: 'Space Mono', monospace;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 62.5%;
}

.container {
    background: linear-gradient(470deg, lightgray, rgb(39, 38, 38)), lightslategray;
    animation: containerTransition 10s ease infinite;
    background-size: 600%;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container .geniusName {
    font-weight: bold;
    font-size: 6rem;
    margin-bottom: 40px;
}

@media screen and (max-width: 414px) {
    .container .geniusName {
        font-size: 15vw;
    }
}

.circuloPreto {
    background-color: #0a0903;
    width: 20.8%;
    height: 44%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 200px;
    border: 2px solid rgb(39, 38, 38);
}

@media screen and (max-width: 414px) {
    .circuloPreto {
        width: 100vw;
        height: 100vw;
        border: 1px solid black;
    }
}

.pad--verde {
    box-sizing: border-box;
    background-color: #157f1f;
    width: 10.4vw;
    height: 22vh;
    border-top-left-radius: 200px;
    cursor: pointer;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
}

@media screen and (max-width: 414px) {
    .pad--verde {
        width: 50vw;
        height: 50vw;
    }
}

.verde--active {
    background-color: #78f785;
    box-shadow: 0px 5px 20px 15px rgb(0, 255, 42), 6px 8px 20px 0px rgb(0, 255, 42), 6px 8px 20px 0px rgb(0, 255, 42), 6px 8px 20px 0px rgb(0, 255, 42);
}

.pad--vermelho {
    box-sizing: border-box;
    background-color: #7a1010;
    width: 10.4vw;
    height: 22vh;
    border-top-right-radius: 200px;
    cursor: pointer;
    border-bottom: 2px solid white;
}

@media screen and (max-width: 414px) {
    .pad--vermelho {
        width: 50vw;
        height: 50vw;
    }
}

.vermelho--active {
    background-color: #fa3706;
    box-shadow: 0px 5px 20px 15px rgb(255, 0, 0), 6px 8px 20px 0px rgb(255, 0, 0), 6px 8px 20px 0px rgb(255, 0, 0), 6px 8px 20px 0px rgb(255, 0, 0);
}

.pad--azul {
    box-sizing: border-box;
    background-color: #1446a0;
    width: 10.4vw;
    height: 22vh;
    border-bottom-left-radius: 200px;
    cursor: pointer;
    border-right: 2px solid white;
}

@media screen and (max-width: 414px) {
    .pad--azul {
        width: 50vw;
        height: 50vw;
    }
}

.azul--active {
    background-color: #427ce7;
    box-shadow: 0px 5px 20px 15px rgb(0, 26, 255), 6px 8px 20px 0px rgb(4, 0, 255), 6px 8px 20px 0px rgb(0, 26, 255), 6px 8px 20px 0px rgb(38, 0, 255);
}

.pad--amarelo {
    box-sizing: border-box;
    background-color: #9c620a;
    width: 10.4vw;
    height: 22vh;
    border-bottom-right-radius: 200px;
    cursor: pointer;
}

@media screen and (max-width: 414px) {
    .pad--amarelo {
        width: 50vw;
        height: 50vw;
    }
}

.amarelo--active {
    background-color: #ffaa2a;
    box-shadow: 0px 5px 20px 15px rgb(255, 255, 0), 6px 8px 20px 0px rgb(255, 255, 0), 6px 8px 20px 0px rgb(255, 255, 0), 6px 8px 20px 0px rgb(255, 255, 0);
    border-style: hidden;
}

.circuloCentro {
    box-sizing: border-box;
    background-color: rgb(39, 38, 38);
    width: 10%;
    height: 20%;
    border-radius: 210px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    position: absolute;
    margin-top: 7vw;
}

@media screen and (max-width: 414px) {
    .circuloCentro {
        width: 50vw;
        height: 50vw;
        margin-top: 100px;
    }
}

.textosDeDentro {
    color: antiquewhite;
    text-align: center;
    align-self: center;
}

.start,
.reset {
    color: aqua;
    width: 40%;
    height: 4vh;
    font-size: 0.7rem;
    font-weight: medium;
    border-radius: 10px;
    background: linear-gradient(to right, rgb(39, 37, 37), rgb(38, 38, 77));
}

.start:hover {
    transform: scale(1.2);
    color: black;
    background: aqua;
    transition: 1s;
    cursor: pointer;
}

.reset:hover {
    transform: scale(1.2);
    color: black;
    background: aqua;
    transition: 1s;
    cursor: pointer;
}

.derrota,
.vitoria {
    font-size: 2.5rem;
    color: aqua;
    position: absolute;
}

.gameStats {
    background-color: #1446a0;
    width: 42vw;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;

}

.levelDisplay,
.scoreDisplay,
.nameDisplay {
    letter-spacing: 0.5rem;
    color: aqua;
    border: 1px solid white;
    text-align: center;
    font-size: 1rem;
}

.payAtention,
.playerTurn {
    font-size: 1.5rem;
    width: 30vw;
    color: aqua;
    text-align: center;
    position: fixed;
}

@media screen and (max-width: 414px) {
    .vitoria,
    .derrota {
        font-size: 1rem;
    }
}

@keyframes containerTransition {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 50 100%;
    }
}
